### 연산자

##### 산술연산자
- '+' : 더하기
- '-' : 빼기
- '*' : 곱하기
- '/' : 나누기
- '%' : 나머지
- '//' : 몫 구하기
- '**' : 거듭제곱

In [9]:
5 + 2

7

In [8]:
5 - 2

3

In [10]:
5 * 2

10

In [11]:
5 / 2

2.5

In [12]:
5 % 2

1

In [13]:
5 // 2

2

In [14]:
5 ** 2

25

##### 비교 연산자
- '>' : 크다
- '>=' : 크거나 같다
- '<' : 작다
- '<=' : 작거나 같다
- '==' : 같다
- '!=' : 다르다

In [21]:
5 > 2

True

In [22]:
5 >= 2

True

In [23]:
5 < 2

False

In [24]:
5 <= 2

False

In [25]:
5 == 2

False

In [26]:
5 != 2

True

##### 논리연산자
- and : 논리 곱
- or : 논리 합
- not : 논리 부정

In [27]:
True and True

True

In [28]:
(5 > 2) and (5 <= 2)

False

In [29]:
True or False

True

In [30]:
5 > 2 or 5 <= 2

True

In [31]:
not True

False

In [32]:
not 5 < 2

True

### 변수
데이터를 저장하는 공간
파이썬에서는 변수의 특정 데이터 타입이 존재하지 않음
즉, 하나의 변수에 여러 데이터 타입을 할당할 수 있음

In [1]:
variable = 10
variable

10

In [2]:
variable = True
variable

True

In [3]:
variable = 0.13
variable

0.13

In [4]:
variable = .44
variable

0.44

In [5]:
variable = '문자열1'
variable

'문자열1'

In [6]:
variable = "문자열2"
variable

'문자열2'

### 데이터타입
- 정수형
- 실수형
- 논리형
- 문자열

In [33]:
type(10)

int

In [34]:
type(.11)

float

In [35]:
type(True)

bool

In [36]:
type('문자열')

str

### 데이터타입 변환
- int() : 특정 데이터를 정수형으로 변환
- float() : 특정 데이터를 실수형으로 변환
- bool() : 특정 데이터를 논리형으로 변환
- str() : 특정 데이터를 문자열으로 변환

In [37]:
int(12.34)

12

In [38]:
int(False)

0

In [39]:
int('10')

10

In [40]:
int('10.4')

ValueError: invalid literal for int() with base 10: '10.4'

In [41]:
float(10)

10.0

In [42]:
float(False)

0.0

In [43]:
float('10.12')

10.12

In [44]:
float('12')

12.0

In [45]:
float('1dot2')

ValueError: could not convert string to float: '1dot2'

In [46]:
bool(0.123124123123)

True

In [47]:
bool('False')

True

In [48]:
var = 'False'
var != 'False'

False

### NaN, Inf

- NaN (Not a Number) : 숫자가 아님을 나타냄
- Inf (Infinity) : 무한대

In [49]:
float('NaN')

nan

In [50]:
float('Inf')

inf

In [51]:
float('-Inf')

-inf

### 대입연산자

- '=' : 좌항에 우항을 대입
- '+=' : 좌항에 좌항값에 우항을 더한 값을 대입
- '-=' : 좌항에 좌항값에 우항을 뺀 값을 대입
- '*=' : 좌항에 좌항값에 우항을 곱한 값을 대입
- '/=' : 좌항에 좌항값에 우항을 나눈 값을 대입
- '**=' : 좌항에 좌항값에 우항을 거듭제곱한 값을 대입
- '//=' : 좌항에 좌항값에 우항을 나눈몫 값을 대입

##### 파이썬은 증감연산자가 존재하지 않음
증감을 표현하고 싶으면  
변수 += 1 , 변수 -= 1

In [ ]:
variable = 10

In [19]:
variable += 5
variable

30

In [20]:
variable /= 4
variable

7.5

### 문자열

- 출력 : print() 함수로 문자열 출력
- 문자열 연산 : + 연결, * 반복
- 타 데이터 타입과 연결 : 반드시 타 데이터 타입을 str() 형변환 함수로 변형 후 연결해야함
- 문자열 : ' 혹은 " 로 묶어서 표현, \n 으로 줄바꿈 가능
- 여러줄의 문자열 : ''' 혹은 """로 표현
- 문자열 치환 : .replace() 문자열 메서드로 특정 문자열을 변경 가능
- f문자열 : 문자열 앞에 f라는 키워드를 붙여서 문자열의 포멧을 만들어 사용 가능

In [52]:
print('문자열')

문자열

In [55]:
string = '문자열1'
print(string)
string = '문자열2'
print(string)

문자열1
문자열2

In [56]:
string2 = '추가문자열'
string +  string2

'문자열2추가문자열'

In [57]:
string * 5

'문자열2문자열2문자열2문자열2문자열2'

In [58]:
string + 10 + string

TypeError: can only concatenate str (not "int") to str

In [59]:
string + str(10) + string

'문자열210문자열2'

In [61]:
print('안녕하세요.\n반갑습니다.')

안녕하세요.
반갑습니다.

In [62]:
statement = '''안녕하세요.
반갑습니다.'''
print(statement)

안녕하세요.
반갑습니다.

In [63]:
date = '2025-02-03'
date.replace('-', '/')

'2025/02/03'

In [67]:
name = '이성계'
age = 56

print(str(name) + '의 나이는 ' + str(age) + '입니다.')
print(f'{name}의 나이는 {age}입니다.')

이성계의 나이는 56입니다.
이성계의 나이는 56입니다.