### **DBMS 연결**
각 DBMS에 맞는 패키지를 사용하여 연결

| DBMS          | 패키지                   | 설치 명령                           |
|--------------|------------------------|---------------------------------|
| **MySQL**    | `mysql-connector-python` | `pip install mysql-connector-python` |
| **MongoDB**  | `pymongo`                | `pip install pymongo`               |
| **Oracle**   | `cx_Oracle`              | `pip install cx_Oracle`             |
| **MS SQL Server** | `pyodbc`             | `pip install pyodbc`                |
| **PostgreSQL** | `psycopg2`             | `pip install psycopg2`              |

##### **MySQL**
  
---
**패키지 설치**  
  
``` bash
pip install mysql-connector-python
```
  
---
**예시 코드**  
  
``` python
import mysql.connector

config = {
    "user": "your_username",
    "password": "your_password",
    "host": "your_host",
    "database": "your_database",
    "port": 3306
}

try:
    conn = mysql.connector.connect(**config)
    cursor = conn.cursor()
    
    cursor.execute("SELECT VERSION()")
    version = cursor.fetchone()
    print(f"MySQL Version: {version[0]}")

except mysql.connector.Error as e:
    print(f"Error: {e}")

finally:
    if cursor:
        cursor.close()
    if conn:
        conn.close()
```

In [1]:
from mysql.connector import MySQLConnection

config = {
    'user': 'root',
    'password': 'root',
    'host': 'localhost',
    'port': 3306,
    'database': 'school'
}

try:
    connector = MySQLConnection(**config)
    cursor = connector.cursor()

    cursor.execute('SELECT VERSION()')
    version = cursor.fetchone()
    print(version)
except:
    print('데이터베이스 연결에 실패했습니다.')
finally:
    if cursor:
        cursor.close()
    if connector:
        connector.close()

('8.0.40',)

In [2]:
try:
    connector = MySQLConnection(**config)
    cursor = connector.cursor()

    SQL = 'INSERT INTO student VALUES(%s, %s, %s, %s)'
    VALUE = (25101, '이성계', '부산광역시 중구', '010-5555-5555')
    cursor.execute(SQL, VALUE)
    connector.commit()
except:
    print('데이터베이스 작업 실패')
finally:
    if cursor:
        cursor.close()
    if connector:
        connector.close()

In [6]:
try:
    connector = MySQLConnection(**config)
    cursor = connector.cursor()

    SQL = 'SELECT * FROM student WHERE address LIKE %s'
    VALUE = ('%동구%',)
    cursor.execute(SQL, VALUE)
    result = cursor.fetchall()
    for row in result:
        print(row)
except:
    print('데이터베이스 작업 실패')
finally:
    if cursor:
        cursor.close()
    if connector:
        connector.close()

('25002', '김철수', '부산광역시 동구', '010-1111-1111')
('25005', '박보검', '부산광역시 동구', '010-1111-3333')
('25006', '권지용', '부산광역시 동구', '010-1111-4444')

In [10]:
try:
    connector = MySQLConnection(**config)
    cursor = connector.cursor()

    SQL = 'UPDATE student SET address = %s WHERE student_number = %s'
    VALUE = ('부산광역시 수영구', '25101')
    cursor.execute(SQL, VALUE)
    connector.commit()
except:
    print('데이터베이스 작업 실패')
finally:
    if cursor:
        cursor.close()
    if connector:
        connector.close()

In [11]:
try:
    connector = MySQLConnection(**config)
    cursor = connector.cursor()

    SQL = 'DELETE FROM student WHERE student_number = %s'
    VALUE = (25101,)
    cursor.execute(SQL, VALUE)
    connector.commit()
except:
    print('데이터베이스 작업 실패')
finally:
    if cursor:
        cursor.close()
    if connector:
        connector.close()

##### **MongoDB**
  
---
**패키지 설치**  
  
``` bash
pip install pymongo
```
  
---
**예시 코드**  
  
``` python
from pymongo import MongoClient

mongo_uri = "mongodb://your_username:your_password@your_host:27017/your_database"

try:
    client = MongoClient(mongo_uri)
    db = client["your_database"]
    collection = db["your_collection"]

    collection.insert_one({"name": "John", "age": 30})
    result = collection.find_one({"name": "John"})
    print(f"Retrieved Document: {result}")

except Exception as e:
    print(f"Error: {e}")

finally:
    client.close()
```

In [12]:
from pymongo import MongoClient

URI = 'mongodb://localhost:27017'

try:
    client = MongoClient(URI)
    db = client['test']
    collection = db['test_collection']

    # collection.insert_one({"name": "이도", "age": 28})

    # result = collection.find({ 'age': { "$gt": 30 }})
    # for item in result:
    #     print(item)

    # collection.update_one({ "name": "이도" }, { "$set": { "age": 60 } })

    collection.delete_one({ "name": "이도" })
except:
    print('데이터베이스 연결 실패')
finally:
    pass